<h2>All Pokemon</h2>

<br><br><br>

<ul>
    <% @pokemons.each do |p| %> 
        <% if p.trainer_id == @trainer.id %>
            <li><a href="/pokemons/<%= p.slug %>"> <%= p.name %> [ Trainer: You (<%=p.trainer.trainer_name%>) ]</a></li>
            <br><br>
        <% else %>
            <li><a href="/pokemons/<%= p.slug %>"> <%= p.name %> (Trainer: <%=p.trainer.trainer_name.capitalize%>)</a></li>
            <br><br>
        <% end %>
    <% end %>
</ul>


<br><br><br>

<button><a href="/pokemons/new">Create a new Pokemon</a></button>

<br><br><br><br>

<button><a href="/trainers/<%=@trainer.slug%>">Back to your Trainer Page</a></button>