<% unless locals.empty? %>
    <h3><%= message %></h3>
<% end %>

<br><br>

<h2> <%= @pokemon.name.capitalize %> </h2>



<br><br>

<% @owner = Trainer.find_by_id(@pokemon.trainer_id) %>
<p>Trainer: <a href="/trainers/<%= @owner.slug %>/info"> <%=@owner.trainer_name.capitalize%></a></p>

<br><br>

<% if @pokemon.nickname != "" %>
    <p>Nickname: <%= @pokemon.nickname.capitalize %></p>
    <br>
<% end %>
<p>Type: <%= @pokemon.type1.capitalize %></p>
<br>
<% if @pokemon.type2 != "" %>
    <p>Type: <%= @pokemon.type2.capitalize %></p>
<% end %>
<br>
<!-- <% if @pokemon.best_buddy != false %>
    <p> BEST BUDDY c: </p>
<% end %> -->

<br><br><br>

<button><a href="/pokemons/<%=@pokemon.slug%>/edit">Edit Pokemon</a></button>

<br><br><br><br>

<% if @pokemon.trainer_id == @trainer.id %>
    <button><a href="/pokemons/<%=@pokemon.slug%>/delete">Delete Pokemon</a></button>
<% end %>

<br><br><br><br><br><br><br><br><br>

<button><a href="/trainers/<%=@trainer.slug%>">Back to Pokemon Team</a></button>